:root {
  --main-color: #9cbcb3;
  --main-color-dark: #375d4a;
  --secondary-color: #f0f8ff;
  --main-color-light: #bfd3cc;
}
html{
    font-size: 16px;
}
/* TYPE FACE */
    .atkinson-hyperlegible-regular {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: normal;
    }
    .atkinson-hyperlegible-bold {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: normal;
    }
    .atkinson-hyperlegible-regular-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 400;
    font-style: italic;
    }
    .atkinson-hyperlegible-bold-italic {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    font-style: italic;
    }

/* Class Based CSS */
/* colors */ /* colors */
    .main-color {
        background-color: var(--main-color);
    }
    .sec-color {
        background-color: var(--secondary-color);
    }
/* margins */ /* margins */
    .one-margin {
        margin: 1rem;
    }
    .one-half-margin {
        margin: 1.5rem;
    }
    .half-margin {
        margin: .5rem;
    }
    .half-margin-top {
        margin-top: .5rem;
    }
/* padding */ /* padding */
    .one-padding {
        padding: 1rem;
    }
    .one-half-padding {
        padding: 1.5rem;
    }
    .two-padding {
        padding: 2rem;
    }
    .half-padding {
        padding: .5rem;
    }
/* font */ /* font */ 
    .font-bold {
        font-weight: bold;
        letter-spacing: .03rem;
    }
/* shadow & rounded */
    .shad-round {
        border-radius: .5rem;
        box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);
    }
/*  */
main {
    margin-right: .2rem;
    font-family: "Atkinson Hyperlegible", sans-serif;
}
.logo {
    font-size: 1.2rem;
    border-radius: 1.5rem;
    padding: .5rem 1rem .5rem 1rem;
    color: #375d4a;
}
.nav-button {
    border: var(--secondary-color) solid .15rem;
    padding: .4rem .9rem;
    background-color: var(--secondary-color);
    color: var(--main-color-dark);
    font-weight: bold;
    text-decoration: none !important;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 1.5rem;
}
.nav-button:hover {
    border: var(--secondary-color) solid .15rem;
    padding: .4rem .9rem;
    background-color: var(--main-color-dark);
    color: var(--secondary-color);
    font-weight: bold;
    text-decoration: none !important;
    box-shadow: inset 0px 8px 8px 0px rgba(0,0,0,0.2);
}
.search-bar {
    margin: 0rem 0 0 1rem;
}
#site-search {
    width: 35%;
    padding: 0.5rem .5rem;
    border: .2rem solid var(--main-color-dark);
    border-radius: 1.5rem;
    outline: none;
}
#search-label {
    border: var(--main-color-dark) solid .2rem;
    padding: .3rem .9rem;
    color: var(--main-color-dark);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.05rem;    
    border-radius: 1.5rem;
    margin-right: 1rem;
}
#site-search:focus {
    box-shadow: inset 0px 6px 4px 0px rgba(0,0,0,0.2);
}

button {
    border: var(--main-color-dark) solid .2rem;
    padding: .3rem .9rem;
    background-color: var(--main-color-dark);
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    font-family: "Atkinson Hyperlegible", sans-serif;
    border-radius: 1.5rem;
    /* box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.4); */
}
button:hover {
    background-color: var(--secondary-color);
    border: var(--main-color-dark) solid .2rem;
    color: var(--main-color-dark);
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.4);
    transition: 0.3s ease;
}
.clicked {
    background-color: var(--secondary-color);
    /* border: var(--secondary-color) solid .2rem; */
    color: var(--main-color-dark);
    cursor: pointer;
    box-shadow: inset 0px 6px 4px 0px rgba(0,0,0,0.2);
}
body {
    background-color: var(--main-color);
}
nav {
    background-color: var(--main-color-dark);
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
}
#horses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    line-height: 1.5rem;
}
/* THE BUTTONS THAT SHOW UP FROM CLICKING DROP DOWN MENU OPTIONS */
#drop-buttons-sec {
    background-color: var(--secondary-color);
    margin: 1rem 0 1rem 0;
    padding: 1rem 0 1rem 0;
}
/* BUTTONS FOR THE FILTERS */
#status-filter-sec {
    display: none;
}
#gender-filter-sec {
    display: none;
}
#coat-filter-sec {
    display: none;
}
#surface-filter-sec {
    display: none;
}
footer {
    background-color: var(--main-color-dark);
    margin: 3rem 0 0 0;
}
.filter-title {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background-color: var(--secondary-color);
    padding: 1rem;
    margin-top: .5rem;
    border-radius: .5rem;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);
    color: var(--main-color-dark);
}
img {
    width: 100%;
    height: auto;
}
h2 {
    font-size: 1.8rem;
    font-weight: bold;
}
.horseName {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    background-color: var(--main-color-dark);
    color: var(--secondary-color);
    border-radius: .5rem;
    padding: .8rem;
    /* box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.3); */
    width: 95%;
    letter-spacing: .04rem;
}
/* THE BIG HEADER IMAGE */
.home-image {
    position: relative;
    display: inline-block;
    height: 20rem;
    width: 100%;
    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: top;
        opacity: 50%;
    }
    h1 {
        color: var(--secondary-color);
        display: flex;
        position: absolute;
        color: var(--secondary-color);
        font-size: 5rem;
        font-weight: bolder;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
}

.filter {
    margin: .1rem;
}
.filterIndicat {
    color: var(--main-color-dark);
    border: var(--main-color-dark) solid .2rem;
    padding: .4rem .9rem;
    letter-spacing: 0.05rem;
    display: inline-block;
    font-size: 1rem;
    margin-right: .2rem;
    border-radius: 1.5rem;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 1.5rem 2rem 1.5rem 1.5rem;
    border-radius: .5rem;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);
}
.card img{
    height: 15rem;
    object-fit: cover;
    border-radius: .5rem;
    /* box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.3); */
    margin-bottom: .5rem;
    border: solid var(--main-color-dark) .2rem;
}

    .filter-buttons {
        margin: 0 0rem 0rem 1rem;
    }
/* MEDIA QUERIES */
/* Tablet / Mid Size */
@media screen and (max-width:62rem){
    #horses{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    }
    .filter-title {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    }
    .filter-buttons {
        margin: 0 1rem 0rem 1rem;
    }
    .filter {
        margin: .5rem .1rem 0 .1rem;
    }
}
/* Small Size */
@media screen and (max-width:48rem){
    #horses{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
    .card img{
    height:20rem;
    object-fit: cover;
    }   
    .filter-title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    }
    .home-image {
        h1 {
            font-size: 3rem;
        }
    }
}   
/* SmallER Size ? */
@media screen and (max-width:28rem){
    #horses{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
    .card img{
    height: 13rem;
    object-fit: cover;
    }   
    .filter-title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    }
    .home-image {
        h1 {
            font-size: 4rem;
        }
    }
} 
/* bigger than small-size */
@media screen and (min-width:48rem){
    .home-image {
        height: 25rem;
    }
}

/* DROPDOWN MENU */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
    padding: .5rem 1rem;
    border: var(--main-color-dark) solid .2rem;
    margin: .5rem 0rem 0rem 1rem;
    background-color: var(--main-color-dark);
    
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
    top: 100%; 
    left: 0;
    margin-left: 1rem;
}
.dropdown-content span {
  padding: .8rem 1rem;
  text-decoration: none;
  display: block;
}
.dropdown-content span:hover {
    background-color: var(--main-color-light);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
    background-color: var(--secondary-color);
    border: var(--main-color-dark) solid .2rem;
    color: var(--main-color-dark);
    font-weight: bold;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.4);
    transition: 0.3s ease;
}